* {
    -webkit-font-smoothing: antialiased;
}
body {
    font-family: 'helvetica neue' !important;
    font-weight: 200;
    display: block;
    margin: auto;
    color: #444;
    background: #CCC;
    padding: 100;
}
h1 {
    box-sizing: border-box;
    font-size: 45px;
    font-weight: normal;
    line-height: 49.5px;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 5px solid #444;
}
.text {
    box-sizing: border-box;
    padding: 10;
    display: block;
    font-size: 21px;
    font-weight: normal;
    line-height: 31.5px;
    max-width: 800px;
    text-align: center;
}
.about {
    margin: auto;
    margin-bottom: 20px;
}
.to_add {
    font-size: 12px;
    margin: auto;
}
hr {
    width: 60%;
    border-bottom: 5px solid #444;
    margin: 20;
}
span.l {
    font-weight: 100;
}
span.r {
    font-weight: 500;
}
body {
    margin: 40px 10px;
    padding: 0;
}
#loading {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}
#calendar {
    max-width: 800px;
    margin: 0 auto;
}
.the-base.fc-event {
    background-color: grey;
}
.bluestockings.fc-event {
    background-color: blue;
}